<a href="https://colab.research.google.com/github/Paolahr2/Talleres-python/blob/main/Taller1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def fibonacci(n):
  a, b= 0, 1
  for in range(n):
    yield a
    a, b = b, a + b

    for num in fibonacci(51):
      print(num)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
#serie de fibonacci secuencial
a = 0
b = 1
c = 0

while a <= 50:

  c = a + b
  print(a)
  a = b
  b = c

0
1
1
2
3
5
8
13
21
34

In [ ]:
#serie fibonacci con tuplas
a = 0
b = 1
while a <=50:
  print(a)
  (a,b) = (b,a+b)

0
1
1
2
3
5
8
13
21
34

In [ ]:
#1
V = float(input("Ingrese la velocidad: "))
T = float(input("Ingrese el tiempo: "))

D = V * T
print(D)

Ingrese la velocidad: 100
Ingrese el tiempo: 25
2500.0

In [ ]:
#2
nota1 = float(input("Ingrese la primera nota: "))
nota2 = float(input("Ingrese la segunda nota: "))
nota3 = float(input("Ingrese la tercera nota: "))

promedio = (nota1 + nota2 + nota3) / 3

print(f"El promedio del semestre es: {promedio}")

Ingrese la primera nota: 3
Ingrese la segunda nota: 4.5
Ingrese la tercera nota: 5.0
El promedio del semestre es: 4.166666666666667

In [ ]:
#3
ganados = int(input("Partidos Ganados: "))
perdidos = int(input("Partidos Perdidos: "))
empatados = int(input("Partidos Empatados: "))

puntos = ganados * 3 + empatados * 1

print(f"Ganados: {ganados}, Perdidos: {perdidos}, Empatados: {empatados}, Puntos: {puntos}")

Partidos Ganados: 3
Partidos Perdidos: 2
Partidos Empatados: 2
Ganados: 3, Perdidos: 2, Empatados: 2, Puntos: 11

In [ ]:
#4
nombreempleado = input("Nombre del empleado: ")
horaslaboradas = float(input("Horas trabajadas: "))
tarifahora = float(input("Tarifa por hora: "))


print(f"Empleado: {nombreempleado}")
print(f"Total devengado  del empleado es: {horaslaboradas * tarifahora}")

Nombre del empleado: Rubi
Horas trabajadas: 160
Tarifa por hora: 60000
Empleado: Rubi
Total devengado  del empleado es: 9600000.0

In [ ]:
#5
import math

a = float(input("Ingrese el valor del lado a: "))
b = float(input("Ingrese el valor del lado b: "))


hipotenusa = math.sqrt(a**2 + b**2)

print(f"La hipotenusa  es: {hipotenusa:}")

Ingrese el valor del lado a: 20
Ingrese el valor del lado b: 30
La hipotenusa  es: 36.05551275463989

In [ ]:
#6
celsius = float(input("Ingrese la temperatura en grados Celsius: "))

print(f"{celsius}째C equivalen a {(celsius * 1.8) + 32}째F")

Ingrese la temperatura en grados Celsius: 100
100.0째C equivalen a 212.0째F